[Unit]
Description=Nazipuruhs Hospital Management System
After=network.target

[Service]
Type=exec
User=www-data
Group=www-data
WorkingDirectory=/var/www/hosp
Environment="PATH=/var/www/hosp/venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="DJANGO_SETTINGS_MODULE=diagcenter.production_settings"
ExecStart=/var/www/hosp/venv/bin/gunicorn --bind 0.0.0.0:8005 --workers 4 --timeout 120 --access-logfile /var/log/nazipuruhs/access.log --error-logfile /var/log/nazipuruhs/error.log diagcenter.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
